USE [master]
GO
/****** Object:  Database [dbs_roles]    Script Date: 5/10/2023 7:50:13 p. m. ******/
CREATE DATABASE [dbs_roles]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'dbs_roles', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbs_roles.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'dbs_roles_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\dbs_roles_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [dbs_roles].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [dbs_roles]
GO
/****** Object:  Table [dbo].[tbl_detalle_usuario_roles]    Script Date: 5/10/2023 7:50:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_detalle_usuario_roles](
	[PKItem] [bigint] IDENTITY(1,1) NOT NULL,
	[FKUsuario_tbl_usuarios] [varchar](200) NOT NULL,
	[FKCodigo_tbl_roles] [int] NOT NULL,
	[FKCOdigo_tbl_estado] [char](1) NOT NULL,
	[Fecha_aprobacion] [date] NULL,
	[Fecha_caduca] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PKItem] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_estado]    Script Date: 5/10/2023 7:50:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_estado](
	[FKCodigo] [char](1) NOT NULL,
	[Nombre] [varchar](60) NOT NULL,
	[Nomenclatura] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[FKCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_personas]    Script Date: 5/10/2023 7:50:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_personas](
	[PKId] [varchar](10) NOT NULL,
	[P_Nombres] [varchar](80) NOT NULL,
	[S_Nombre] [varchar](50) NULL,
	[P_Apellido] [varchar](50) NOT NULL,
	[S_Apellido] [varchar](50) NULL,
	[Contacto] [varchar](10) NOT NULL,
	[Correo] [varchar](90) NOT NULL,
	[FKCodigo_tbl_sexo] [char](1) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PKId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_roles]    Script Date: 5/10/2023 7:50:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_roles](
	[PKCodigo] [int] NOT NULL,
	[Nombre] [varchar](80) NOT NULL,
	[Nomenclatura] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[PKCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_sexo]    Script Date: 5/10/2023 7:50:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_sexo](
	[PKCodigo] [char](1) NOT NULL,
	[Nombre] [varchar](50) NOT NULL,
	[Nomenclatura] [varchar](5) NULL,
PRIMARY KEY CLUSTERED 
(
	[PKCodigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_usuarios]    Script Date: 5/10/2023 7:50:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_usuarios](
	[PKUsuario] [varchar](200) NOT NULL,
	[conseña] [varchar](10) NOT NULL,
	[FKId_tbl_personas] [varchar](10) NOT NULL,
	[Fecha] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[PKUsuario] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_detalle_usuario_roles]  WITH CHECK ADD  CONSTRAINT [FK_tbl_detalle_usuario_roles_tbl_estado] FOREIGN KEY([FKCOdigo_tbl_estado])
REFERENCES [dbo].[tbl_estado] ([FKCodigo])
GO
ALTER TABLE [dbo].[tbl_detalle_usuario_roles] CHECK CONSTRAINT [FK_tbl_detalle_usuario_roles_tbl_estado]
GO
ALTER TABLE [dbo].[tbl_detalle_usuario_roles]  WITH CHECK ADD  CONSTRAINT [FK_tbl_detalle_usuario_roles_tbl_roles] FOREIGN KEY([FKCodigo_tbl_roles])
REFERENCES [dbo].[tbl_roles] ([PKCodigo])
GO
ALTER TABLE [dbo].[tbl_detalle_usuario_roles] CHECK CONSTRAINT [FK_tbl_detalle_usuario_roles_tbl_roles]
GO
ALTER TABLE [dbo].[tbl_detalle_usuario_roles]  WITH CHECK ADD  CONSTRAINT [FK_tbl_detalle_usuario_roles_tbl_usuarios] FOREIGN KEY([FKUsuario_tbl_usuarios])
REFERENCES [dbo].[tbl_usuarios] ([PKUsuario])
GO
ALTER TABLE [dbo].[tbl_detalle_usuario_roles] CHECK CONSTRAINT [FK_tbl_detalle_usuario_roles_tbl_usuarios]
GO
ALTER TABLE [dbo].[tbl_personas]  WITH CHECK ADD  CONSTRAINT [FK_tbl_personas_tbl_sexo] FOREIGN KEY([FKCodigo_tbl_sexo])
REFERENCES [dbo].[tbl_sexo] ([PKCodigo])
GO
ALTER TABLE [dbo].[tbl_personas] CHECK CONSTRAINT [FK_tbl_personas_tbl_sexo]
GO
ALTER TABLE [dbo].[tbl_usuarios]  WITH CHECK ADD  CONSTRAINT [FK_tbl_usuarios_tbl_personas] FOREIGN KEY([FKId_tbl_personas])
REFERENCES [dbo].[tbl_personas] ([PKId])
ON UPDATE CASCADE
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[tbl_usuarios] CHECK CONSTRAINT [FK_tbl_usuarios_tbl_personas]
GO
/****** Object:  StoredProcedure [dbo].[SP_asignar_rol]    Script Date: 5/10/2023 7:50:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author, Oscar Mesa>
-- Create date: <Create Date,5/10/2023>
-- Description:	<Description,asignar rol procedimiento almacenado>
-- =============================================
CREATE PROCEDURE [dbo].[SP_asignar_rol]
@usuario varchar(200), @rol int, @fecha_caduca date
as begin
	declare @buscar int 
	select @buscar = (select COUNT(*) from tbl_usuarios where PKUsuario = @usuario)
	if @buscar = 0
		begin 
			print 'Usuario no registradó'
		end
	if @buscar = 1
		begin 
			insert into tbl_detalle_usuario_roles
			(FKUsuario_tbl_usuarios,FKCodigo_tbl_roles,FKCOdigo_tbl_estado,Fecha_aprobacion,Fecha_caduca)
			values 
			(@usuario, @rol, 2 , GETDATE(),@fecha_caduca)
			print 'Rol asignado con éxito'
		end 
	end
GO
/****** Object:  StoredProcedure [dbo].[SP_registrar]    Script Date: 5/10/2023 7:50:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Author:		<Author,Oscar Mesa>
-- Create date: <Create Date,03/10/2023>
-- Description:	<Description,Registrar personas>
-- =============================================
CREATE PROCEDURE [dbo].[SP_registrar]
@id varchar (10), @p_nombre varchar (50), @s_nombre varchar (50),
@p_apellido varchar (50), @s_apellido varchar(50), @contacto varchar(10),
@correo varchar (90)

as begin 
	declare @consulta int 
	select @consulta = (select count(*) from tbl_personas where PKId = @id)
	if @consulta = 1
	begin 
		print 'esta persona ya se encuentra registrada'
		end 
	if @consulta = 0 
	begin 
	insert into tbl_personas
	(PKId,P_Nombres,S_Nombre,P_Apellido,S_Apellido,Contacto,Correo)
	values
	(@id, @p_nombre, @s_nombre, @p_apellido, @s_apellido, @contacto, @correo)
	print 'Persona registrada con éxito'
	end
end
GO
/****** Object:  StoredProcedure [dbo].[SP_retirar_rol]    Script Date: 5/10/2023 7:50:13 p. m. ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,Oscar Mesa>
-- Create date: <Create Date,05/10/2023>
-- Description:	<Description,Retirar rol>
-- =============================================
CREATE PROCEDURE [dbo].[SP_retirar_rol]
@usuario varchar (200), @rol int
as begin 
	delete from tbl_detalle_usuario_roles
	where 
	tbl_detalle_usuario_roles.FKUsuario_tbl_usuarios = @usuario and 
	tbl_detalle_usuario_roles.FKCodigo_tbl_roles = @rol
	print 'Rol retirado con éxito'
end
GO
USE [master]
GO
